<h2> <%= link_to "All Doctors", doctors_path %> <%= link_to "All Appointments", appointments_path %> </h2>
<h1> Showing Patients </h1>
<h3> <%= link_to "Admit New Patient", new_patient_path %> </h3>


<% @patients.each do |patient| %>

<div class="patient">
  <%= link_to patient.name, patient_path(patient) %>
</div>
<% end  %>
