<h1>Doctors</h1>
<h2> <%= link_to "All Patients", patients_path %> </h2>
<h3> <%= link_to "Hire New Doctor", new_doctor_path %> </h3>

<%@doctors.each do |doctor| %>
<div>
  <%=link_to "Dr. #{doctor.name}", doctor_path(doctor) %>
</div>
<%end %>
