<h2>Doctors</h2>
<h3> <%= link_to "All Patients", patients_path %> | <%= link_to "All Appointments", appointments_path %> </h3>

<%@doctors.each do |doctor| %>
<div>
  <%=link_to "Dr. #{doctor.name}", doctor_path(doctor) %>
</div>
<%end %>

<h3> <%= link_to "Hire New Doctor", new_doctor_path %> </h3>
