<h1>Appointments</h1>

<% @appointments.each do |appointment| %>
  <p>
    <%= link_to "#{appointment.doctor.name} with #{appointment.patient.name}", appointment_path(appointment) %>
  </p>
<% end %>
