<h1>All Appointments</h1>
<h2> <%= link_to "All Appointments", appointments_path %> </h2>
<h3> <%= link_to "Schedule a new appointment", new_appointment_path %> </h3>

<% @appointments.each do |appointment| %>
<div>

<%end %>
