<!DOCTYPE html>
<html>
  <head>
    <title>Schedoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1 class="redcross"> + </h1>
  <h1 class="header">Dr. Manny's Group Practice</h1>
  <h2 class="header slogan"> Many Doctors, Many Patients, Many Treatments </h2>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
